canvas {
    -webkit-tap-highlight-color: transparent;
}

.mt-3, .mb-4, .buttons-container, .footer {
    display: none;
    visibility: hidden;
}

#navDrawerToggle {
    display: none;
    visibility: hidden;
}

.nav-drawer--active {
    transform: translate3d(0, 0, 0);
    overflow:scroll
}
